.svg {
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.bouncing-container {
  display: block; /* Allow the container to fit the content size */
  animation: bounce 1s ease-in-out infinite;
}

.svg__container {
  animation: rotate 5s linear infinite;
}

@keyframes orbit {
  to {
    stroke-dashoffset: 100px;
  }
}

@keyframes negativeOrbit {
  to {
    stroke-dashoffset: -100px;
  }
}
#prefix__b {
  stroke: white;
  stroke-width: 1px;
  fill: black;
  stroke-dasharray: 25px 10px;
  animation: negativeOrbit 1s infinite linear;
}
#prefix__d {
  /* fill: red;
      stroke: red; */
}

#outer_circle {
  fill: transparent;
}

#top_main_piece {
  fill: #30b9d5;
}
#top_left_piece {
  fill: #30b7d4;
}

#top_right_piece {
  fill: #30b7d4;
}

#left_middle_piece {
  fill: #30b7d4;
}
#right_middle_piece {
  fill: #30b7d4;
}
#left_main_piece {
  fill: #30b7d4;
}

#right_main_piece {
  fill: #30b7d4;
}

#left_bottom_piece {
  fill: #30b7d4;
}

#right_bottom_piece {
  fill: #30b7d4;
}

#right_center_piece {
  fill: #30b7d4;
}

#left_center_piece {
  fill: #30b7d4;
}

#top_center_piece {
  fill: #30b7d4;
}

#center_piece {
  fill: #30b7d4;
  stroke: white;
  stroke-width: 0.5px;
}

#inner_ring {
  /* stroke: #11059b; */
  stroke: white;
  stroke-width: 10px;
  fill: black;
  stroke-dasharray: 35px 15px;
  animation: orbit 1s infinite linear;
}
